<%- include('../theme/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/images/profile.png" alt="profile" class="img-thumbnail">
        </div>
        <div class="col-6">
            <h2>Your Information</h2>
            <hr>
            <br>
            <h5>Username: <%= user.username %></h5>
            <h5>Email: <%= user.email %></h5>
            <br>
            <br>
            <br>
            <h2>Actions</h2>
            <hr>
            <br>
            <button class="btn btn-lg btn-outline-success">Your Posts</button>
            <button class="btn btn-lg btn-outline-success">New Post</button>
        </div>
    </div>
</div>
<br>
<%- include('../theme/footer.ejs') %>