<%- include('../theme/header.ejs') %>
<br>
<% if (username) { %>
    <div class="alert alert-primary container" role="alert">
        Hi <%= username %>! Welcome to PenCMS!
    </div>
<% } else { %>
    <div class="alert alert-danger container" role="alert">
        You are not logged in yet!
    </div>
<% } %>
<%- include('../theme/footer.ejs') %>