<%- include('theme/header.ejs') %>
<div class="row justify-content-center">

    <div class="card post col-4">
        <img class="card-img-top" src="/images/jords.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Post Title</h4>
          <p class="card-text">Short content. A short description of post content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="card post col-4">
        <img class="card-img-top" src="/images/jords.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Post Title</h4>
          <p class="card-text">Short content. A short description of post content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>    
<%- include('theme/footer.ejs') %>
