<%- include('theme/header.ejs') %>
<form action="" method="post" class="container col-4">
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" class="form-control" name="email">
        <br>
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password">
        <br>
        <label for="password-confirmation">Confirm Password:</label>
        <input type="password" class="form-control" name="password-confirm">
    </div>
</form>
<%- include('theme/footer.ejs') %>