<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Pen CMS</title>
</head>
<body>
    
    <div class="container-fluid header">
        <h1>Welcome to Pen CMS!</h1>
        <h3>Pen CMS is a blogging Content Management System written entirely in Javascript.</h3>
    </div>
    <div class="container-fluid navbar">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>            
            <li class="nav-item">
                <a href="/tutorials" class="nav-link">Tutorials</a>
            </li>                                    
            <li class="nav-item">
                <a href="/posts" class="nav-link">Posts</a>
            </li>            
            <li class="nav-item">
                <a href="/signup" class="nav-link">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>            
        </ul>
    </div>